:root {
  --first-color: hsl(220deg 16% 22%);
  --second-color: hsl(220deg 16% 28%);
  --third-color: hsl(220deg 16% 28% / 0%);
  --fourth-color: hsl(92deg 28% 65%);
}

.site-page__site-body {
  margin: 0;
}

.site-body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: var(--first-color);
}

.wrapper {
  width: min(100%, 64.125rem);
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding: 0.875rem;
  box-sizing: border-box;
}

.wrapper__list {
  position: relative;
  list-style-type: none;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6.25rem, 1fr));
  grid-auto-rows: minmax(6.25rem, auto);
  gap: 14px;
  padding: 0.75rem;
  border-radius: 10px;
  background-color: var(--first-color);
  box-sizing: border-box;
}

.wrapper__list::before {
  content: "";
  position: absolute;
  inset: -2px;
  z-index: -1;
  border-radius: 12px;
  background-image: linear-gradient(
    90deg,
    var(--second-color),
    var(--third-color),
    var(--second-color)
  );
}

.wrapper__list-item {
  display: grid;
  place-items: center;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: var(--first-color);
  background-color: var(--second-color);
}

.wrapper__list-item_is-active {
  background-color: var(--fourth-color);
}
